<h1>Lederovernattinger</h1>

<p class="lead">Det er 2 typer reservasjoner: fylkesledere og ressurspersoner fra UKM Norge.</p>

<h3>Administrer reservasjoner</h3>
{% if user_editor_role == false %}
<div class="col-xs-12 col-sm-6">
	<div class="well" style="background:#fff;">
		<h3>Fylkesledere</h3>
		<p>Her kan du endre / supplere info fylkene har lagt inn</p>
		
		<label for="gotofylke">Velg fylke</label><br />
		<select id="gotofylke">
		{% for fylke in fylker %}
			<option value="{{fylke.link}}wp-admin/admin.php?page=UKMVideresending&til={{fylke.festivalId}}&action=ledere">{{fylke.fylkeName}}</option>
		{% endfor %}
		</select>
		<a href="" target="_blank" id="gotofylkebutton" class="btn btn-primary">administrer ledere</a>
	</div>
</div>
{% endif %}

<div class="col-xs-12 col-sm-6">
	<div class="well" style="background:#fff;">
		<h3>UKM Norge</h3>
		<p>Reservasjoner for UKM Norges ressurspersoner</p>
		<p>&nbsp;</p>

		<a href="?page=UKMFovernatting&action=grupper" class="btn btn-primary">Administrer UKM Norges overnattinger</a>
	</div>
</div>
<div class="clearfix"></div>

<p class="lead">
	For oversikt, utskrift og bestilling til hotellet, velg "rapporter" i menyen
</p>

<h2>Kommentarer fra fylkene</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th width="150">Fylke</th>
			<th>Arrangement</th>
			<th>Kommentar</th>
		</tr>
	</thead>
	<tbody>
		
		{% for fylke_key, fylke_kommentarer in kommentarer %}
			{% for arrang_key, arrang_kommentar in fylke_kommentarer %}
				<tr>
					<td>{{ alle_fylker[fylke_key].getNavn() }}</td>
					<td>{{ arrangementer[arrang_key].getNavn() }}</td>
					<td><b>{{ arrang_kommentar }}</b></td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>